<div class="container mt-3">
    <div class="row">
        <nav class="navbar navbar-expand-sm navbar-light">
            <ul class="nav nav-tabs" style="width: 100%;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="create" routerLinkActive="active">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="bill" routerLinkActive="active">Bill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="payment" routerLinkActive="active">Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" routerLink="success" routerLinkActive="active">Success</a>
                </li>
            </ul>
        </nav>

        <router-outlet></router-outlet>
        
    </div>
</div>