<div class="container mt-3">
    <h3>
        Welcome to Fast Drop

    </h3>
    <p>
        Most reliable parcel delivery application
    </p>
    <h3>Order History</h3>
    <div class="row">
        <div class="col-6">
            Order Name
        </div>
        <div class="col-6">
            Tracking id
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Birthday Gift
        </div>
        <div class="col-6">
            <span class="badge bg-primary text-light">#25698564646466</span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Chair
        </div>
        <div class="col-6">
            <span class="badge bg-primary text-light">#25698564646467</span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Wheels
        </div>
        <div class="col-6">
            <span class="badge bg-primary text-light">#25698564646468</span>
        </div>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->